# .gitignore to keep just logs, descriptive markdown files and bash scripts
###################################

# Filter everything...
*

# ... except the .gitignore...
!.gitignore

# ... and all subdirectories...
!/**/

# ... and all markdown and bash files.
!*.md
!*.markdown
!*.sh
!*.log
!*.zip
